body {
    font-family: sans-serif;
    background-color: #f8ebe9;
}

.whole {
    display: grid;
    grid-template-columns: 30% 50%;
    margin: 2rem auto;
    margin-left: 15rem;
}

.container1 {
    height: 39rem;
    background-image: url(../media/background.jpg);
    background-size: cover;
    /* box-shadow: 2px 2px 7px; */
}

.container2 {
    background-color: white;
    /* box-shadow: 1px 2px 7px; */
}

.head1 {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-size: 0.7rem;
    font-weight: 700;
}

im