body {
    /* font-family: sans-serif; */
    background-color: #f8ebe9;
}

.whole {
    display: grid;
    grid-template-columns: 30% 50%;
    margin: 2rem auto;
    margin-left: 15rem;
}

.container1 {
    height: 39rem;
    background-image: url(../media/background.jpg);
    background-size: cover;
    /* box-shadow: 2px 2px 7px; */
}

.container2 {
    background-color: white;
    /* box-shadow: 1px 2px 7px; */
    position: relative;
}

.head1 {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: #6b88ab;
    font-family: sans-serif;
}

.img1 {
    height: 1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

.img1:hover {
    cursor: pointer;
    fill: red;
}

.head1:hover {
    cursor: pointer;
    color: black;
}

.nav {
    display: flex;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-left: 20rem;
    font-family: sans-serif;
}

.nav:hover {
    cursor: pointer;
    fill: black;
    color: black;
}

.p2:hover {
    cursor: pointer;
    color: black;
}

.p3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.p2 {
    color: #9f9f9f;
}

.line {
    height: 0.2rem;
    width: 6rem;
    background-color: #333333;
    margin-left: 0.8rem;
}

.head3 {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.head2 {
    margin-left: 4rem;
    margin-top: 8rem;
}

.p4 {
    font-size: 4rem;
}

.p5 {
    font-size: large;
    font-weight: 500;
    margin-bottom: 2rem;
}

.image2 {
    height: 7rem;
    /* background-size: cover; */
    width: 10rem;
}

.image3 {
    background-color: #fcf5f9;
    opacity: 0.5;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    position: absolute;
    left: 7.8rem;
    top: 25.7rem;
}

.head5 {
    display: flex;
}

.p6 {
    /* margin-top: 1rem; */
    line-height: 1.9rem;
    /* font-size: large; */
    font-family: sans-serif;
    font-weight: 300;
    margin-left: 3rem;
}

.p7 {
    margin-top: -1.5rem;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: 800;
    color: #333333;
}

.bottom {
    display: flex;
    margin-top: 0.3rem;
}

.image4 {
    margin-top: -2.3rem;
    margin-left: 0.5rem;
}